.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-container:hover{
  background-color:rgb(244, 217, 222)

}

.contact-container img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.social-media a {
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-media a:hover {
  transform: scale(1.2);
}
